# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log


# VSCode/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
htmlcov/
coverage.xml
.cache/

# Virtualenv
venv/
